.mdl-layout__content{
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mdl-layout__header-row{
  background-color:#612da6;
}

#displayTable td{
  text-align: left;
}

tr:hover {
    background-color: LemonChiffon;
}

th{
  background: SkyBlue;
}

#nameInput, #emailInput{
  text-align: left;
}

#selectPage{
  width:90px;
}

#createBtn, #searchBtn{
  color:Tomato;
}

#findId{
  width: 100px;
}

#idLabel{
  margin-left: 20px;
}

#editBtn0, #editBtn1, #editBtn2, #editBtn3, #editBtn4, #editBtn5, #editBtn6,
#editBtn7, #editBtn8, #editBtn9, #editBtn10, #editBtn11, #editBtn12, #editBtn13,
#editBtn14, #editBtn15, #editBtn16, #editBtn17, #editBtn18, #editBtn19
{
  color:Silver;
}

#saveBtn0, #saveBtn1, #saveBtn2, #saveBtn3, #saveBtn4, #saveBtn5, #saveBtn6,
#saveBtn7, #saveBtn8, #saveBtn9, #saveBtn10, #saveBtn11, #saveBtn12, #saveBtn13,
#saveBtn14, #saveBtn15, #saveBtn16, #saveBtn17, #saveBtn18, #saveBtn19
{
  color:ForestGreen;
  visibility:hidden;
}

#cancelBtn0, #cancelBtn1, #cancelBtn2, #cancelBtn3, #cancelBtn4, #cancelBtn5,
#cancelBtn6, #cancelBtn7, #cancelBtn8, #cancelBtn9, #cancelBtn10, #cancelBtn11,
#cancelBtn12, #cancelBtn13, #cancelBtn14, #cancelBtn15, #cancelBtn16,
#cancelBtn17, #cancelBtn18, #cancelBtn19
{
  color:Crimson;
  visibility:hidden;
}
